---
import ferris from "@/assets/ferris.png";
import SpotlightCard from "./react/SpotlightCard";
import GlowingHeader from "./react/GlowingHeader";
import GlowingText from "./react/GlowingText";
import { Image } from "astro:assets";
import photo from "@/assets/photo.jpg";
import StarBorder from "./react/StarBorder";
import { Icon } from "astro-icon/components";

const infoLeft: Array<{ header: string; content: string }> = [
    {
        header: "Values",
        content:
            "Freedom, creativity, forward thinking, democracy, and innovation.",
    },
    {
        header: "Mission",
        content: "Leave this world a little bit better than how I found it.",
    },
];
const infoRight: Array<{ header: string; content: string }> = [
    {
        header: "Personal Journey",
        content:
            "Built my own enterprise failed twice, moving forward with more experience than never.",
    },
    {
        header: "Core Strengths",
        content: "Resilience, adaptability, and problem-solving.",
    },
];
---

<section id="about" class="py-20 space-y-4 md:w-[120%] md:-ml-[10%]">
    <div class="text-center animate-fade-up mb-20">
        <GlowingHeader>About</GlowingHeader>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <SpotlightCard
            client:only="react"
            className="text-justify select-none cursor-default bg-transparent backdrop-blur-2xl"
        >
            {
                infoLeft.map((art) => {
                    return (
                        <div class="flex flex-col text-justify gap-1 mt-5">
                            <GlowingText>
                                <h3 class="text-xl font-bold">{art.header}</h3>
                            </GlowingText>
                            {art.content}
                        </div>
                    );
                })
            }
        </SpotlightCard>
        <SpotlightCard
            client:only="react"
            className="flex justify-center items-center p-0 bg-size-[90%] bg-center bg-no-repeat bg-transparent border-none px-10 min-h-50"
            style={{ backgroundImage: `url(${ferris.src})` }}
        />
        <SpotlightCard
            client:only="react"
            className="text-justify select-none cursor-default bg-transparent backdrop-blur-2xl"
        >
            {
                infoRight.map((art) => {
                    return (
                        <div class="flex flex-col text-justify gap-1 mt-5">
                            <GlowingText>
                                <h3 class="text-xl font-bold">{art.header}</h3>
                            </GlowingText>
                            {art.content}
                        </div>
                    );
                })
            }
        </SpotlightCard>
    </div>

    <div class="flex flex-col items-center justify-center relative">
        <SpotlightCard
            client:only="react"
            className="flex flex-col justify-between aspect-9/16 p-0! w-75 bg-transparent backdrop-blur-2xl"
        >
            <div class={"max-h-[60%] overflow-hidden hover:alter-ego"}>
                <Image src={photo} alt="Photo" />
            </div>
            <div class="flex flex-col my-5 px-5">
                <GlowingText client:only="react">
                    <span class="text-xl font-bold">Short bio</span>
                </GlowingText>
                <p class="text-sm text-justify cursor-default">
                    I'm a cybersecurity enthusiast and Rust developer with a
                    knack for solving complex problems.
                </p>
                <div class="w-full flex justify-end items-end px-3 mt-5 mb-3 z-10 cursor-pointer">
                    <a
                        target="_blank"
                        href="https://paypal.me/etherbeing"
                        class="w-full"
                    >
                        <StarBorder
                            client:only="react"
                            className="flex flex-row gap-3 justify-center items-center w-full"
                        >
                            <span class="font-bold text-sm"
                                >Buy me a coffee</span
                            >
                            <Icon name="simple-icons:buymeacoffee" />
                        </StarBorder>
                    </a>
                </div>
            </div>
        </SpotlightCard>
    </div>
</section>
