---
import "../styles/global.css";
import GradualBlur from "./react/GradualBlur";
import LiquidEther from "./hp/liquid-ether/LiquidEther.tsx";
import Header from "./react/Header";
---

<html lang="en" class="bg-black text-gray-200 font-sans dark">
    <head>
        <meta charset="utf-8" />
        <title>etherbeing</title>
        <link rel="icon" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body
        class={"max-w-screen overflow-x-hidden" +
            (Astro.props.class ? " " + Astro.props.class : "")}
    >
        <LiquidEther
            style={{
                position: "fixed",
            }}
            className="w-screen h-screen left-0 top-0 -z-10"
            client:only="react"
            colors={["#5227FF", "#FF9FFC", "#B19EEF"]}
            mouseForce={20}
            cursorSize={100}
            isViscous={true}
            viscous={30}
            iterationsViscous={32}
            iterationsPoisson={32}
            resolution={0.25}
            isBounce={true}
            autoDemo={true}
            autoSpeed={0.5}
            autoIntensity={2.2}
            takeoverDuration={0.25}
            autoResumeDelay={250}
            autoRampDuration={0.6}
        />
        <Header client:only="react" />
        <main class="w-full md:w-4xl px-3 md:px-0 mx-auto">
            <slot />
        </main>
        <GradualBlur
            client:only="react"
            target="page"
            position="top"
            height="3rem"
            strength={2}
            divCount={5}
            curve="bezier"
            exponential={true}
            opacity={1}
        />
    </body>
</html>
