---
import "../styles/global.css";
import GradualBlur from "./react/GradualBlur";
import LiquidEther from "./react/LiquidEther";
import { Button } from "./ui/button";
---

<html lang="en" class="bg-gray-950 text-gray-200 font-sans dark">
    <head>
        <meta charset="utf-8" />
        <title>etherbeing</title>
        <link rel="icon" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body
        class={"max-w-4xl mx-auto" +
            (Astro.props.class ? " " + Astro.props.class : "")}
    >
        <LiquidEther
            className="fixed! w-screen h-screen left-0! -z-10"
            client:only="react"
            colors={["#5227FF", "#FF9FFC", "#B19EEF"]}
            mouseForce={20}
            cursorSize={100}
            isViscous={true}
            viscous={30}
            iterationsViscous={32}
            iterationsPoisson={32}
            resolution={0.5}
            isBounce={true}
            autoDemo={true}
            autoSpeed={0.5}
            autoIntensity={2.2}
            takeoverDuration={0.25}
            autoResumeDelay={3000}
            autoRampDuration={0.6}
        />
        <slot />
        <GradualBlur client:only="react"
            target="page"
            position="top"
            height="3rem"
            strength={2}
            divCount={5}
            curve="bezier"
            exponential={true}
            opacity={1}
        />
    </body>
</html>
